{% extends 'base.html.twig' %}

{% block title %}Edita tu imagen{% endblock %}

{% block body %}
    <h1>Edita tu imagen</h1>

    {{ include('images/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_images_index') }}">Volver al álbum</a>

    {{ include('images/_delete_form.html.twig') }}
{% endblock %}
