{% extends 'base.html.twig' %}

{% block title %}New Images{% endblock %}

{% block body %}
    <h1>Create new Images</h1>

    {{ include('images/_form.html.twig') }}

    <a href="{{ path('app_images_index') }}"><button class="btn btn-primary" role="button" data-bs-toggle="button">back to list</button></a>
{% endblock %}